.bg__header{
    position: absolute;
    background-color: #030303;
    width: 100%;
    height: 150px;
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    position: relative;
    justify-content: space-between;
    background-color: #030303;
    width: 1440px;
    margin: 0 auto;
    height: 150px;
    align-items: center;
}

.header__logo{
    display: flex;
    position: relative;
    color: white;
    align-items: center;
    gap: 20px;
}

.logo__image{
    width: 49px;
    height: 26px;
}

.logo__text{
    font-size: 28px;
    letter-spacing: 5px;
    font-weight: 400;
}

.header__naviganion nav {
    flex: 1; 
    margin: 0 20px;
    color: white;
}

.header__naviganion nav ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header__naviganion nav a {
    color: inherit;
    text-decoration: none;
    font-size: 22px;
    font-weight: 200;
    position: relative;
    letter-spacing: 2px;
}

@media (max-width: 1024px) {
    .bg__header{
        width: 100%;
        height: 130px;
    }

    .header{
        width: 984px;
        height: 130px;
    }

    .header__logo{
        gap: 10px;
    }
}